body, html {
    margin: 0px;
    padding: 0px;
    min-width: 320px;
    font-family: 'Avenir next';
    -webkit-font-smoothing: antialiased;
}

/* General Styling and Classes */
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.woff');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.woff');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/Lato-Light.woff');
}

@font-face {
    font-family: 'Lato-Thin';
    src: url('fonts/Lato-Thin.woff');
}

#loader {
    position: fixed;
    margin-left: -150px;
    left: 50%;
    margin-top: -105px;
    top: 50%;
    z-index: -10000;
    text-align: center;
}

#mobile-logo {
    visibility: hidden;
    display: none;
}

/* Header */
#header {
    position: fixed;
    min-width: 320px;
    height: 6em;
    top: 0;
    left: 0;
    right: 0;
}

#logo {
    width: 65%;
    float: left;
    font-size: 1em;
    margin-left: 1vw;
    margin-top: 1%;
    margin-bottom: 1vh;
}

#nav {
    width: 33%;
    text-align: right;
    float: right;
    margin-right: 0em;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#home, #contact {
    position: relative;
    float: left;
    margin-left: 3em;
}

#home:hover, #contact:hover {
    border-bottom: 1px solid gray;
    cursor:pointer;
}

#home a, #contact a {
    color: black;
    text-decoration: none;
}

/* Container */
#container {
    width: 100%;
    top: 5em;
    left: 0;
    right: 0;
    bottom: 3em;
    overflow-y: auto;
    min-width: 320px;
}

#album-viewer {
    position: relative;
    float: left;
    width: 100%;
    min-width: 320px;
}

#text {
    float: left;
    text-align: center;
    width: 100%;
}

#images img {
    margin: auto;
}


#gallery {
    position: relative;
    float: left;
    width: 100%;
}


#photos div {
    margin-bottom: 0px;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
}

.centerImg {
    text-align: center;
}


#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}


@media (max-width: 1920px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
    
    
}
@media (max-width: 1366px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }

    
}
@media (max-width: 200px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
    
    /* Resposive Data */
    
    /* Header */
    #header {
        position: fixed;
        min-width: 320px;
        height: auto;
        display: none;
    }
    
    #logo {
        width: 100%;
        font-size: 1em;
        text-align: center;
        margin-left: auto;
        margin-top: 2em;
        margin-bottom: auto;
    }
    
    #nav {
        width: 100%;
        text-align: center;
        float: right;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: auto;
    }
    
    #home, #contact {
        position: relative;
        width: 10%;
        text-align: left;
        font-size: 0.80em;
    }
    
    #home:hover, #contact:hover {
        border-bottom: 1px solid gray;
        cursor:pointer;
    }
    
    #home a, #contact a {
        color: black;
        text-decoration: none;
    }
    
    /* Container */
    #container {
        position: fixed;
        top: 5em;
        left: 4vw;
        right: 4vw;
        bottom: 3em;
        overflow-y: auto;
        min-width: 320px;
        text-align: center;
    }
    
    #album-viewer {
        position: relative;
        width: 100%;
    }
    
    #text {
        text-align: center;
        width: 100%;
    }
    
    #images img {
        margin: auto;
    }
    
    #footer {
        position: relative;
        height:3em;
        display: none;
    }
    
    #copy {
        display: none;
        font-size: 1em;
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    #copy a {
        text-decoration: none;
    }
    
    #social-icons {
        width: 100%;
        text-align: center;
    }
    
    #social-icons a:hover{
        color: black;
    }
    
    #mobile-logo {
        visibility: visible;
        display: block;
        margin-top: 1em;
        margin-bottom: 0.7em;
    }
}
@media (max-width: 414px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
    
    

}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:3.5em;
}

#copy {
    position: relative;
    width: 40%;
    float: left;
    font-size: 1.5vh;
    margin-left: 1em;
    margin-top: 2.5vh;
    margin-bottom: 2vh;
}

#copy a {
    text-decoration: none;
}

#social-icons {
    width: 40%;
    text-align: right;
    float: right;
    margin-right: 1em;
    margin-top: 1.7vh;
    margin-bottom: 1.2vh;
    font-size: 3vh;
}

#social-icons a:hover{
    color: black;
}
#mfooter {
    display: none;
}

#contactform {
    display: none;
}

@media (max-width: 200px) {
    #mfooter {
        display: inherit;
        position: relative;
        text-align: center;
        z-index: -100;
        font-size: 0.8em;
    }
    #mcopy {
        margin-bottom: 1em;
        font-size: 0.8em;
    }
    #msocial-icons {
        margin: 1em;
        font-size: 2em;
    }
    article {
        margin-bottom: 1em;
    }
    #contactform {
        display: inherit;
    }
}
